    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/vendor/jquery-1.8.3.min.js"></script>
    <script src="assets/js/vendor/less.js"></script>
    <script src="assets/js/vendor/bootstrap-transition.js"></script>
    <script src="assets/js/vendor/bootstrap-alert.js"></script>
    <script src="assets/js/vendor/bootstrap-modal.js"></script>
    <script src="assets/js/vendor/bootstrap-dropdown.js"></script>
    <script src="assets/js/vendor/bootstrap-scrollspy.js"></script>
    <script src="assets/js/vendor/bootstrap-tab.js"></script>
    <script src="assets/js/vendor/bootstrap-tooltip.js"></script>
    <script src="assets/js/vendor/bootstrap-popover.js"></script>
    <script src="assets/js/vendor/bootstrap-button.js"></script>
    <script src="assets/js/vendor/bootstrap-collapse.js"></script>
    <script src="assets/js/vendor/bootstrap-carousel.js"></script>
    <script src="assets/js/vendor/bootstrap-typeahead.js"></script>

  </body>
</html>
