
<js>

// Define all the links you want in your navigation
this.nav = [
    {url: '/', title: 'Home'},
    {url: '/install.html', title: 'Installation'},
    {url: '/templates.html', title: 'Templating'},
    {url: '/workflow.html', title: 'Workflow'},
    {url: '/docs.html', title: 'Docs'}
];

_.each(this.nav, function(navEl) {
    if (this.navActive && this.navActive === navEl.title) {
        navEl.active = true;
    }
}, this);

</js>

<div class="masthead">
    <ul class="nav nav-pills pull-right">
        {{#nav}}
        <li {{#active}}class="active"{{/active}}>
            <a href="{{url}}">{{title}}</a>
        </li>
        {{/nav}}
    </ul>
    <h3 class="muted">SSC</h3>
</div>

